/*  Assignment: Online profile
    Class:     CIS130W01
    Name:      Kari Cook
    Date:      07-25-2022  */
/* Styles for all html */
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #A0E494;
}
.active {
  box-shadow: 0 3px 5px #66fe56;
  border-radius: 5px;
}

footer {
  font-size: 1.5rem;
  color: lightgreen;
  text-shadow: 1px 1px green;
  text-align: center;
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

/* index.html only styles */
.wrapping {
  display: grid;
  grid-gap: 20px;
}
.inner {
  margin: 20px;
  background-color: #3f8529;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px #293f22;
}
.inner img {
  max-width: 400px;
  border-radius: 5px;
  border: white solid 5px;
  box-shadow: 0 2px 5px #293f22;
  margin-bottom: 10px;
}
.inner p {
  font-size: 1.2em;
  padding: 5px;
}
.mid1 {
  border: darkgreen double 5px;
}
/* Breakpoint styles for index.html only */
@media (min-width: 1060px) {
  .wrapping {
    grid-template-areas:
    'topper topper'
    'lower  mid2'
    'mid1 mid1';
  }
  .topper {
    grid-area: topper;
  }
  .mid1 {
    grid-area: mid1;
  }
  .mid2 {
    grid-area: mid2;
  }
  .lower {
    grid-area: lower;
  }
  .logo {
    margin-top: 100px;
  }

}

/* more.html only styles */
.wrap {
  display: grid;
  grid-gap: 20px;
}
.inside {
  margin: 20px;
  background-color: #3f8529;
  border-radius: 5px;
  box-shadow: 0 2px 5px #293f22;
  padding: 5px;
}

.wrap img {
  max-width: 400px;
  box-shadow: 0 2px 5px #293f22;
}
.wrap p {
  font-size: 1.2em;
  padding: 5px;
}
/*Breakpoint Styles for more.html only */
@media (min-width: 1060px){
   .wrap {
     grid-template-areas:
        'head1 side1'
        'head1 side1'
        'side2 bottom1'
        'side2 bottom1';
   }
}

/* skill only styles */
.carousel {
  margin-top: 20px;
}

.boxes {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
  grid-template-areas:
     'top'
     'bottom';
}

.top {
  grid-area: top;
  align-content: center;
  background-color: #3f8529;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #293f22;
}
.bottom {
  background-color: #3f8529;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #293f22;
}
.exampleimg {
  max-width: 100%;
  border-radius: 5px;
  display:none;
}
.examplecss {
  display: none;
  border-radius: 5px;
}
h3 {
  display: none;
}
 h4 {
  display: none;
}
.embed {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.map-med {
  display: none;
}

/* skill responsive styles */
 @media (min-width: 700px){
   .box2 {
     grid-area: box2;
   }
   .box3 {
     grid-area: box3;
   }
   .box4 {
     grid-area: box4;
   }
   .boxes {
      grid-template-areas:
        'top top'
        'box2 box3'
        'box4 box4';
   }
   .exampleimg {
     display: block;
   }
   h3 {
     display: block;
   }
   .map-med {
     display: grid;
   }
   .map-sm {
     display: none;
   }
}
@media (min-width: 1060px){
  .boxes {
     grid-template-areas:
       'top top box2'
       'top top box3'
       'box4 box4 box3';
  }
   h4 {
    display: block;
  }
  .examplecss {
    display: block;
  }
  .exampleimg {
    display: block;
    margin-top: 40px;
  }
  .embed {
    grid-template-areas:
       'map video';
  }
}
